---
Checks:
'
*,
-fuchsia-*,
-cert-err58-cpp,
-modernize-use-trailing-return-type,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-hicpp-no-array-decay,
'
...
